<div class="container user-box">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content grey lighten-3">
          <div class="row">
            <div class="col s12 center-align">
              <img src="../../assets/Images/Pinguim64x64.png" alt="Pinguim">
              <p class="h4">Bem vindo ao portal Pinguim</p>
            </div>
          </div>
        </div>
        <div class="card-content white">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>